language: go
go:
  - 1.2
  - tip
before_install:
  - go get -v code.google.com/p/go.tools/cmd/cover
  - go get -v code.google.com/p/go.tools/cmd/vet
  - go get -v github.com/stretchr/testify/assert
script:
  - go vet
  - go test -cover
  - go test -bench Bench -benchmem
